:root {
  --fontSize: 14px;
  --iconSize: 30px;
  --background: #011627;
  --font: #dee2e6;
  --inputBackground: #0b263b;
  --inputColor: #fff;
  --border: #5f7e972d;
  --inactiveColor: #5f7e97;
  --hoverBackground: #011627;
  --hoverColor: #fff;
  --focusBackground: #010d18;
  --focusColor: #fff;
  --activeBackground: #010d18;
  --activeColor: #fff;
  --contrast: #7e57c2;
}

html,
body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
  font-size: var(--fontSize);
  font-weight: 300;
  letter-spacing: 1.15px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

/**
 * Styling for theme-preview
 */
.playbook {
  background-color: var(--focusBackground);
}

.github-corner > svg {
  color: var(--focusColor);
  fill: var(--focusBackground);
}

#install {
  color: var(--font);
  font-size: 1.25em;
}

/**
 * Styling for the app
 */
#zazu {
  background-color: var(--background);
  border: 0;
  cursor: move;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  width: 600px;
  -webkit-app-region: drag;
}

#zazu div::after {
  color: var(--contrast);
  content: "â¯";
  display: block;
  font-size: 32px;
  position: absolute;
  top: 14px;
  left: 15px;
}

/**
 * command input field
 */
#zazu input {
  background-color: var(--inputBackground);
  caret-color: var(--contrast);
  border: 0;
  color: var(--inputColor);
  cursor: auto;
  display: block;
  font-size: 2em;
  outline: none;
  padding: 15px 15px 15px 45px;
  -webkit-app-region: no-drag;
  width: 100%;
}

/**
 * results under the searchfield,
 */
.results {
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: row;
}

/**
 * preview-iframe, that could be on the left
 */
#preview {
  border: 0;
  border-left: 1px solid var(--border);
}

/**
 * results-list
 * is either 100% or 50% if the preview is active
 */
.results ul {
  margin: 0;
  height: calc(400px - 63px);
  list-style: none;
  overflow: hidden;
  padding: 0;
  width: 50%;
}

.results ul:last-child {
  width: 100%;
}

.results li {
  border-left: 1px solid transparent;
  border-bottom: 1px solid var(--border);
  color: var(--inactiveColor);
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 5px;
  width: 100%;
  -webkit-app-region: no-drag;
}

.results li::after {
  clear: both;
  content: '';
  display: table;
}

.results li:last-child {
  border-bottom: 0;
}

.results li .icon {
  color: var(--font);
  float: left;
  height: var(--iconSize);
  line-height: var(--iconSize);
  margin: 5px 10px 5px 5px;
  text-align: center;
  width: var(--iconSize);
}

.results li h2,
.results li h3 {
  margin: 0;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results li h2 {
  font-size: 1.3em;
  line-height: 25px;
}

.results li > h2:last-child {
  line-height: 40px;
}

.results li h3 {
  font-size: 1em;
  line-height: 15px;
}

.results li:hover {
  background-color: var(--hoverBackground);
  color: var(--hoverColor);
}

.results li.active,
.results li.active:hover {
  background-color: var(--activeBackground);
  color: var(--activeColor);
}

.results li:focus,
.results li:hover:focus {
  background-color: var(--focusBackground);
  color: var(--focusColor);
}
